


.navbar-brand{
    margin-left: 1em;
}

/* Base style for mobile  devices */
body {
  
}

/* For devices with a minimum width of 768px (Medium) */
@media screen and (min-width: 950px) {
  .card {
    margin-left: 7em !important;
  }
}

/* For devices with a minimum width of 992px (Large) */
@media screen and (min-width: 992px) {
   {
    
  }
}


.list{
    height: fit-content;
    gap: 1em;
    color: rgb(236, 255, 69);
  font-family: "Mogra", system-ui;
    font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;

}
.card {
  margin-top: 10em;
  margin-left: 2em;
  width: 20em;
  height: 28em;
 align-items: center;     /* Vertical center */
 text-align: center;      /* Centers multiline text */
  background: #ed26ffe5;
  border: .5em solid #ffee0593;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}
.card2 {
 align-items: center;     /* Vertical center */
 text-align: center;  /* Centers multiline text */
 margin-top: 4em;
 width: 135em;
  height: 75em;
 margin-left: 2em;
  background: #f701ff88;
  border: .5em solid #ffee05d5;
  border-radius: 4px;
 
}

.name{
  font-family: "Mogra", system-ui;
  font-weight: 200;
  margin-block: 6em;

}

.hours-title{
  margin-bottom: 2em;
  color: rgb(0, 0, 0);

}
.stuff-s {
color: aqua;
row-gap: 7em;
  font-family: "Mogra", system-ui;
    font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
 


}
.table{

 height: 20em;   
  width: 53em; 
  margin-bottom: 24em;
  margin-right: 11em;
}
.hours-list{
  height: 40em;
  width: 13em;
    color: rgb(236, 255, 69);
  font-family: "Mogra", system-ui;
    font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  
  
}

.img-fluid{
 width: 60em;
  height: 40em;
  margin-right: 13em;
  margin-top: 2em;
}


.card:hover {
  transform: translateZ(7em) rotateX(20deg) rotateY(30deg);
  
}

.scrolling-background {
  height: 100vh;
  background-image: url('back.png');
  background-size: cover;
  background-repeat: repeat-y; /* Vertical repeat */
  animation: scroll-vertical 60s linear infinite; /* Infinite loop */
}

@keyframes scroll-vertical {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}