body{
background-color: rgb(21, 217, 21);

}


.navbar-brand{
    margin-left: 1em;
}

.list{
    height: fit-content;
    gap: 1em;
    color: yellow;
    font: 700 1rem monospace;
}

.cards {
  perspective: 500px;
}

.card {
  margin-top: 10em;
  margin-left: 9em;
  width: 20em;
  height: 28em;
 align-items: center;     /* Vertical center */
 text-align: center;      /* Centers multiline text */
  background: #ed26ff;
  border: 2px solid #555555;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card:hover {
  transform: translateZ(7em) rotateX(20deg) rotateY(20deg);
}

